// .react-flow__handle {
//     width: 8px !important;
//     height: 8px !important;
//     transition: all 100ms ease-out;
//     &:hover {
//         width: 12px !important;
//         height: 12px !important;
//     }
// }

.react-flow__handle {
    background-color: var(--xy-handle-border-color-default);
    border-radius: 1px;
    width: 8px;
    height: 4px;
    border: none;
    min-width: 2px;
    min-height: 2px;
  }
   
  .react-flow__handle:hover,
  .react-flow__handle.connectionindicator:focus,
  .react-flow__handle.connectingfrom,
  .react-flow__handle.connectingto {
    background-color: var(--xy-theme-edge-hover);
  }
   
  .react-flow__handle-bottom {
    bottom: -5px;
    transform: none;
  }
   
  .react-flow__handle-top{
    top: -5px;
    transform: none;
  }
   
  .react-flow__handle-left{
    height: 8px;
    width: 4px;
    left: -3px;
  }
   